* {
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F0F0F0;
    color: #0D0D0D;
}


.header_conteiner{
    background: linear-gradient(#1A1A2E, #363674);
    font-size: medium;
}

.nav_conteiner ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    list-style: none;
    padding: 15px 30px;
    border-bottom: 5px solid black;
}

.nav_conteiner a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block; /* adiciona essa linha */
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease, transform 0.5s ease;
}

.nav_conteiner a:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    color: #7B2FBE;
    border-bottom: 3px solid #7B2FBE; /* linha aparece no hover */
}

/*main*/

.main_animes,
.main_filmes,
.main_series{
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.main img{
    padding: 20px;
}

.main{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.main_animes ol,
.main_series ol,
.main_filmes ol {
    text-align: left;
    display: inline-block; /* necessário para o text-align: left funcionar com margin: 0 auto */
}

.footer{
    border-top: solid 5px black;
    background: linear-gradient(#1A1A2E, #363674);
    color: #EFE3CA;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}