<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GeekDevZone</title>
    <link rel="icon" type="image/png" href="./img/favicon.png">
</head>

<body>
    <header class="header_conteiner"><!--Nunca esquecer o header-->
        <nav class="nav_conteiner">
            <ul>
                <li><a href="index.html">Home</a></li><!--No nav sempre colocar o link-->
                <li><a href="cadastro.html">Cadastre-se</a></li>
                <li><a href="#">Créditos</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <h1>Animes, Séries e Filmes em Alta</h1>
        <picture>
            <source media="(max-width: 900px)" srcset="./img/animes-img-pq.png">
            <img src="./img/animes-img.jpg" alt="Animes em Geral">
        </picture>
        
        <div class="sections_container">
            <section class="main_animes">
                <h2>Animes mais assistidos em 2026</h2>
                <h3>TOP 3</h3>
                <ol>
                    <li>Jujutsu Kaisen;</li>
                    <li>Frieren e Jornada para o além;</li>
                    <li>Bleach;</li>
                </ol>
                <p>
                    Em 2026 esses tem sido os animes que as pessoas mais tem acompanhado e assistidos.
                </p>
            </section>
            <section class="main_series">
                <h2>Séries mais assistidas em 2026</h2>
                <h3>TOP 3</h3>
                <ol>
                    <li>Demolidor Renascido;</li>
                    <li>The boys;</li>
                    <li>Invencivel;</li>
                </ol>
                <p>
                    Essas são as séries mais assistidas em 2026 no qual a maioria é da Amazon Prime.
                </p>
            </section>
            <section class="main_filmes">
                <h2>Filmes mais assistidos em 2026</h2>
                <h3>TOP 3</h3>
                <ol>
                    <li>Homem Aranha um novo Dia;</li>
                    <li>Vingadores Doutor Destino;</li>
                    <li>Supergirl.</li>
                </ol>
                <p>
                    Esses são os filmes mais esperados no ano de 2026 - a maioria da Marvel.
                </p>
            </section>
        </div>
    </main>

    <footer class="footer">
        <h4>Obrigado por terem visto até aqui - Tudo baseado até Junho de 2026</h4>
    </footer>

</body>

</html>